<h2>Mon dashboard</h2>



<div class="wrapper-gray">
  <div class="container padded">
    <div class="dashboard-card">
    <h2>Mes candidatures</h2>
    <p> Retrouve ici toutes tes candidatures partagées aux associations, en attente de validation ou non retenues. Clique <%= link_to "ici", missions_path %> pour voir les missions disponibles.</p>
    <table class='table table-condensed table-hover dashboard-table'>
      <%= render 'volunteers/dashboard/candidacies', candidacies: @candidacies %>
    </table>
    <i class="fa fa-eye" style="color: gray; font-size: 20px;"></i><small>   Voir la candidature</small>  &nbsp;
    <i class="fa fa-trash" style="color: gray; font-size: 20px;"></i><small>   Retirer la candidature</small>
    </div>

    <div class="dashboard-card">
    <h2>Mes missions</h2>
    <p> Retrouve ici toutes tes missions en attente de démarrage, en cours, et terminées.</p>
    <table class='table table-condensed table-hover dashboard-table'>
      <%= render 'volunteers/dashboard/missions', missions: @missions, logbook: @logbook %>
    </table>
    <i class="fa fa-play-circle" style="color: gray; font-size: 20px;"></i><small>   Confirmer le démarrage</small> &nbsp;
    <i class="fa fa-check-square" style="color: gray; font-size: 20px;"></i><small>   Marquer la mission accomplie</small> &nbsp;
    <i class="fa fa-times-circle" style="color: gray; font-size: 20px;"></i><small>   Interrompre la mission</small>
    </div>
  </div>
</div>
