.nonprofits-header {
  text-align: center;
  margin-bottom: 20px;
  h3 {
    color: $gray;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 25px;
    // text-align: left;
    color: $gray;
  }

  hr {
    margin-top: 0px;
    margin-bottom: 15px;
  }
}

.nonprofit-feature {
  border-radius: 5px;
  transition: 0.4s ease;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(-230deg, $primary 30%, $primary-light 80%);
  padding: 20px 20px 10px 20px;
  color: white;
  margin-top: 20px;

  h2 {
    margin-top: 15px;
    letter-spacing: 1px;
    font-weight: 100;
  }
  p {
    font-size: 16px;
  }

  li {
    font-size: 14px;
    text-align: justify;
    margin-top: 5px;
    // justify-text: center;
  }
}
