<h2>Conditions d'utilisation</h2>

<p>
    CONDITIONS GÉNÉRALES APPLICABLES AUX ASSOCIATIONS AFFILIÉES
</p>
<p>
    <strong><em> version du 28 mars 2016</em></strong>
    <br/>
</p>
<p>
    Article 1. DISPOSITIONS GÉNÉRALES
</p>
<p>
    1.1. Les présentes Conditions Générales, doivent être lues avec toute l'attention nécessaire avant toute affiliation auprès de fovento.be. Toute
    Association qui décide de s'affilier, reconnait avoir lu et compris les Conditions Générales, et accepte l'application de ces Conditions Générales.
</p>
<p>
    1.2. En cas de violation des Conditions Générales, Fovento peut supprimer l’enregistrement d’une Association Affiliée.
</p>
<p>
    1.3. La Déclaration de Confidentialité de Fovento en ce qui concerne fovento.be doit également être lue en combinaison avec les présentes Conditions
    générales.
</p>
<p>
    Article 2. DÉFINITIONS
</p>
<p>
    - <em>Association </em>: Association sans but lucratif, Association internationale sans but lucratif ou Fondation ;
</p>
<p>
    - <em>Association Affiliée </em>: l'Association enregistrée sur fovento.be et qui souhaite faire appel aux Services de Fovento.
</p>
<p>
    - <em>Contenu </em>: tous les textes, photos, vidéos, matériel audio et autres informations sur fovento.be;
</p>
<p>
    - <em>Déclaration d’accord</em> : après enregistrement en ligne, l’Association recevra par mail ou courrier, un document d’accord à renvoyer à Fovento
    marquant son accord.
</p>
<p>
    - <em>Fovento </em>: Fovento ASBL, l’Association sans but lucratif dont le siège social est sis Avenue Constant Montald 11, 1200 Woluwe-Saint-Lambert,
    inscrite auprès de la Banque-carrefour des entreprises sous le numéro d’entreprise 0629.802.588
</p>
<p>
    - <em>Mission :</em> fonction temporaire et déterminée qu’un Utilisateur-bénévole Enregistré réalise en faveur d'une Association Affiliée ;
</p>
<p>
    - <em>Services :</em> les services octroyés tels que décrits à l'article 3 des présentes Conditions Générales ;
</p>
<p>
    - <em>Utilisateur Enregistré </em>: un tiers qui a créé un profil fovento.be et qui peut participer à une, voire plusieurs Missions ;
</p>
<p>
    - <em>Utilisateur </em>: un Utilisateur Enregistré, un Utilisateur non-enregistré ;
</p>
<p>
    Article 3. SERVICES ET AFFILIATION
</p>
<p>
    3.1. Fovento a pour but de favoriser la rencontre de personnes avec des associations ou groupements citoyens, pour valoriser leurs compétences de façon
    bénévole, sur des projets ponctuels de soutien.
</p>
<p>
    3.2. Fovento propose via fovento.be une plateforme facilement accessible et efficace qui permet aux Utilisateurs Enregistrés de participer à une ou
    plusieurs Missions en faveur d'une ou plusieurs Associations enregistrées sur fovento.be.
</p>
<p>
    3.3. Toute Association qui souhaite s'affilier auprès de fovento.be doit signer la déclaration d'accord avec les présentes Conditions Générales.3.2. Au
    moment où elle remet la Déclaration d’accord signée, l'Association procure également les documents suivants à Fovento une copie de la carte d'identité de
    la(les) personne(s) physique(s) qui représente(nt) l'Association à la signature de la Déclaration d’accord;
</p>
<ul>
    <li>
        la preuve que cette personne physique a le pouvoir de représenter l'Association pour signer la Déclaration d’accord;
    </li>
</ul>
<p>
    3.3. Pour qu'une Association puisse conclure une convention avec Fovento, elle devra, en plus des autres obligations et conditions stipulées dans les
    présentes Conditions Générales, au moins répondre aux conditions suivantes:
</p>
<ul>
    <li>
        elle doit être enregistrée auprès de la Banque-Carrefour des Entreprises;
    </li>
    <li>
        son siège social doit être établi en BELGIQUE; cette condition n’est pas obligatoire mais l’association en question doit exercer ces activités sur le
        territoire belge.
    </li>
</ul>
<p>
    3.4. Les associations ayant uniquement un but politique ou commercial n'entrent pas en ligne de compte pour passer une convention avec Fovento pour
    l'utilisation de fovento.be.
</p>
<p>
    3.5. Fovento peut à tout moment, et cela sans devoir se justifier, refuser de conclure une convention avec une Association Affiliée.
</p>
<p>
    Article 4. ENREGISTREMENT ET CRÉATION D'UN COMPTE fovento.be
</p>
<p>
    4.1. Afin de pouvoir faire appel aux Services de Fovento, l'Association doit, lors de l'enregistrement, marquer son accord avec les Conditions Générales et
    avoir signé la Déclaration d’accord. Le fait de marquer son accord au moment de l'enregistrement fait naître une convention entre l'Association et Fovento.
</p>
<p>
    4.2. Lors de l'enregistrement, l'Association créera un compte pour l'utilisation des Services de fovento.be. L'Association Affiliée pourra gérer ce compte
    via le système mis à disposition de l'Association Affiliée sur fovento.be.
</p>
<p>
    4.3. Lors de l’inscription, l’Association doit obligatoirement, en plus des champs obligatoires à remplir, fournir une adresse email générale de contact.
    Cette adresse e-mail sera utilisée par Fovento pour l’envoi de messages concernant ses services (par exemple notification d’acceptation de Mission).
    L’utilisation des services Fovento nécessite que l’adresse email générale fournie par l’Association soit fonctionnelle. Elle peut être en cas de
    modification changée à tout moment par l’interface de fovento.be. Si pendant 2 mois les e-mails n'arrivent pas à l'adresse de messagerie communiquée par
    l'Association, cette dernière court le risque d'être désactivée.
</p>
<p>
    4.4. L'Association Affiliée possède un code d'identification personnel (nom d'utilisateur plus mot de passe) pour la gestion et la recherche d'informations
    concernant les Associations affiliées dans la base de données de fovento.be. Fovento se réserve le droit, dans des circonstances particulières, de modifier
    et/ou annuler le code d'identification après en avoir informé l'Association Affiliée.
</p>
<p>
    4.5. Lors de l'enregistrement, l'Association veillera à ce que la forme juridique qu’elle emprunte soit reconnaissable.
</p>
<p>
    4.6. Tout compte est personnel et ne peut donc être transféré à un tiers.
</p>
<p>
    4.7. De manière générale aucun compte ne peut être créé sur la base de fausses données et informations.
</p>
<p>
    4.8. Une même Association ne peut créer plus d'un compte, sauf accord explicite de la part de Fovento.
</p>
<p>
    Article 5. GESTION DU COMPTE fovento.be ET DES DONNÉES DE L'ASSOCIATION AFFILIEE
</p>
<p>
    5.1. L'Association Affiliée certifie que les données et les informations qu'elle donne sont complètes, véridiques et exactes.
</p>
<p>
    5.2. Fovento n'est en aucun cas tenu de vérifier les données et informations fournies par l'Association Affiliée.
</p>
<p>
    5.3. L'Association est tenue d'adapter, de compléter et de maintenir à jour les données qu'elle était obligée de communiquer au moment de l'enregistrement
    et elle fera le nécessaire pour que ces données soient à tout moment complètes, exactes et à jour. Dans ce but l'Association Affiliée transmettra sans
    attendre toute modification et adaptation à ces données à Fovento via le système mis à disposition.
</p>
<p>
    Article 6. DONNEES DES UTILISATEURS
</p>
<p>
    6.1. Tout Utilisateur-bénévole transmet ses données, telles que nom et prénom, à Fovento. Ces données sont communiquées à l'Association Affiliée pour les
    besoins d’une Mission déterminée et ne peuvent en aucun cas être utilisées par l’Association affiliée à d’autres fins.
</p>
<p>
    6.2. L’Association affiliée s’engage à ne pas communiquer les informations personnelles des Utilisateurs. Elle s’engage également à ne pas utiliser les
    informations des utilisateurs à des fins personnelles, de démarchage ou de <em>fundraising</em>. Cette énumération n’est pas exhaustive.
</p>
<p>
    Article 7. REMUNERATION DES MISSIONS ET DE LA PLATEFORME
</p>
<p>
    7.1. fovento.be est totalement gratuit.
</p>
<p>
    7.2. Les Missions proposées par les Associations Affiliées ne sont pas rémunérées. Les relations entre l’utilisateur et l’Association affiliée sont régies
    par la législation belge relative au bénévolat. Un système d’indemnisation soumis à la règlementation belge relative au statut bénévole peut être mise en
    place par l’Association affiliée. Fovento décline toute responsabilité en cas de litige relative au défraiement des Utilisateurs bénévoles.
</p>
<p>
    7.3. Fovento n’est aucunement responsable ou partie à la relation liant l’Association affiliée et l’Utilisateur-bénévole.
</p>
<p>
    Article 8. DURÉE ET FIN
</p>
<p>
    8.1. La Convention prendra effet dès que l'Association aura signé la Déclaration d’accord.
</p>
<p>
    8.2. La Convention est établie pour une durée indéterminée ; tant l'Association Affiliée que Fovento peuvent y mettre fin moyennant un préavis raisonnable
    (minimum 3 jours ouvrable).
</p>
<p>
    8.3. Si l'Association Affiliée souhaite mettre fin à la Convention, elle doit envoyer un e-mail à contact@fovento.be, dans lequel elle demande de mettre
    fin à la Convention et précise la raison pour laquelle elle veut mettre fin à la Convention.
</p>
<p>
    8.5. Fovento est en droit, sans autre mise en demeure et sans intervention du juge, de mettre fin entièrement ou partiellement à la Convention sans qu’elle
    soit redevable d'une quelconque indemnité, et sans préjudice du droit d'indemnisation des dommages qui lui sont causés par cette dissolution ou par les
    événements qui ont conduit à cette dissolution :
</p>
<ul>
    <li>
        Si l'Association ne respecte pas en temps requis une ou plusieurs dispositions des Conditions Générales, et cela dans les 20 jours calendrier après
        mise en demeure par Fovento ;
    </li>
    <li>
        Si une saisie est opérée sur des biens mobiliers et/ou immobiliers de l'Association Affiliée, si l'Association Affiliée ou un tiers requiert la
        dissolution de l'Association Affiliée ;
    </li>
    <li>
        Si l'Association Affiliée fait un usage abusif des Services.
    </li>
</ul>
<p>
    Article 9. DROITS DE PROPRIÉTÉ ET LICENCE
</p>
<p>
    9.1. Fovento octroie à l'Association Affiliée un droit limité, personnel, révocable, non exclusif, non sous-licenciable et non transmissible pour utiliser
    fovento.be dans le but de rechercher des Utilisateurs enregistrés capables de réaliser une/des Mission(s) mises en ligne par l’Association affiliée.
</p>
<p>
    Fovento conserve tous les droits (droits d’auteurs, dénominations sociales, marques et autres droits de propriété intellectuelle) associés à ou repris sur
    fovento.be.
</p>
<p>
    Il est interdit de modifier partiellement ou entièrement, de supprimer, de rendre illisibles, de recopier ou de cacher les éventuelles indications ou
    notifications de propriété (intellectuelle) de Fovento.
</p>
<p>
    9.2. Fovento est titulaire du code logiciel sous-jacent de fovento.be.
</p>
<p>
    Il est interdit de modifier les logiciels qui ont un lien quelconque avec fovento.be via reverse engineering, reverse compiling ou d'une autre manière vers
    un format lisible par l’homme.
</p>
<p>
    L'Association Affiliée s'engage à ne pas faire ni faire faire de copies des logiciels de fovento.be. L'Association Affiliée s'engage également à ne pas
    créer de logiciels dérivés et à ne pas utiliser les logiciels autrement que selon l'usage normal de fovento.be.
</p>
<p>
    9.3. Rien de ce qui est mentionné dans les présentes Conditions Générales ou sur fovento.be, n’a pour but de transférer des droits de propriété
    intellectuelle ou de les accorder à l'Association Affiliée.
</p>
<p>
    Article 10. CONTENU ASSOCIATION
</p>
<p>
    10.1. En mettant du Contenu Utilisateur à disposition, l'Association Affiliée confère automatiquement à Fovento une licence non exclusive, transmissible,
    libre de droits, mondiale et non limitée dans le temps, sous-licenciable, pour (re)faire usage de ce Contenu, même lorsqu'il est protégé par un droit
    quelconque, comme par exemple, mais pas uniquement, des droits de propriété intellectuelle.
</p>
<p>
    10.2. FOVENTO n'est aucunement responsable du respect des présentes Conditions Générales et n'est pas non plus responsable des actes de l'Association
    Affiliée ou de tiers qui seraient contraires aux présentes Conditions Générales ou à une quelconque disposition légale, ni responsable d'un quelconque acte
    illicite à l'encontre d'un Contenu Utilisateur mis à disposition par une Association Affiliée.
</p>
<p>
    10.3. Si un tiers prétend que le Contenu placé par l'Association Affiliée sur fovento.be enfreint ses droits, l'Association Affiliée devra :
</p>
<ul>
    <li>
        se porter garant envers Fovento pour les revendications de ce tiers,
    </li>
    <li>
        Intervenir volontairement à la première demande de Fovento dans tout litige dans lequel Fovento est impliqué en conséquence de ladite revendication, et
    </li>
    <li>
        Indemniser complètement Fovento pour tous les frais, dommages, charges et dépenses en rapport avec cette revendication.
    </li>
</ul>
<p>
    Article 11. CODE DE CONDUITE ET RÈGLES DE BON USAGE
</p>
<p>
    11.1. fovento.be peut exclusivement être utilisé par l'Association Affiliée à des fins de recherche d’Utilisateur enregistré capable de remplir une Mission
    décrite au préalable par l’Association affiliée.
</p>
<p>
    Excepté dans le cas où Fovento ou le(s) éventuel(s) ayant(s)-droit en ont explicitement donné la permission, il est expressément interdit à l'Association
    Affiliée de télécharger, copier, modifier ou rendre public du Contenu, à des fins directes ou indirectes étrangères à la collecte de fonds en faveur de
    l'Association Affiliée ou d'en faire un usage autre que ce qui est décrit dans les présentes Conditions Générales.
</p>
<p>
    11.2. L'Association Affiliée reconnait que les agissements suivants sont interdits et elle s'engage par conséquent à ne pas les commettre:
</p>
<ul>
    <li>
        l'apport de Contenu qui pourrait être considéré comme discriminatoire, haïssable, menaçant, trompeur, diffamatoire ou insultant;
    </li>
    <li>
        l'apport de Contenu contenant des obscénités, du matériel pornographique ou tout autre matériel pouvant mettre en danger la dignité humaine;
    </li>
    <li>
        l'installation de virus informatiques ou autres logiciels malveillants;
    </li>
    <li>
        l'utilisation, l'accès ou la tentative d'accès aux données, systèmes informatiques, réseaux, banques de données ou logiciels, sans que le propriétaire
        en ait donné l'autorisation explicite à l'Association Affiliée;
    </li>
    <li>
        le fait de modifier, effacer, rendre inutilisable les données d'un tiers ou d’ajouter des données aux données d'un tiers sans l'autorisation de
        celui-ci;
    </li>
    <li>
        transmettre les données d'un Utilisateur à des tiers sans l'autorisation de cet Utilisateur;
    </li>
    <li>
        le harcèlement de tiers;
    </li>
    <li>
        l'usage inapproprié de convictions et/ou symboles politiques ou religieux;
    </li>
    <li>
        le fait de commettre ou d'inciter à commettre un quelconque délit ou un acte illégal (y compris, mais pas uniquement, les pratiques de blanchiment, la
        fraude, la protection du consommateur);
    </li>
    <li>
        la violation d'un quelconque droit (de propriété intellectuelle) de tiers (comme notamment, mais pas uniquement, les droits d’auteur, le droit des
        marques, etc.); L'Association reconnait que la copie ou l'utilisation de Contenu Utilisateur d'un autre Utilisateur nécessite en principe l'accord de
        cet autre Utilisateur;
    </li>
    <li>
        de manière générale le fait de poser un acte qui est contraire à une loi quelconque ou qui constitue une violation de certains droits de tiers ou qui
        est dommageable envers des tiers ou envers Fovento.
    </li>
    <li>
        l’envoi de messages électroniques non sollicités (le <em>spamming</em>).
    </li>
</ul>
<p>
    Cette énumération n'est pas limitative.
</p>
<p>
    Tous les actes de l'Association Affiliée doivent être conformes aux dispositions légales y afférentes.
</p>
<p>
    11.3. Fovento et les Associations affiliées collaborent de manière à faire fonctionner au mieux fovento.be et les Services qui y sont proposés, et de
    manière à préserver la sécurité des Utilisateurs. L'Association Affiliée a l'obligation de signaler à Fovento tout problème, contenu outrageant ou
    violation des Conditions Générales.
</p>
<p>
    11.4. Il n'est pas permis de transmettre les données des Utilisateurs à des tiers.
</p>
<p>
    Les données des Utilisateurs ne sont pas transmises à d'autres tiers que l'Association Affiliée en faveur de laquelle ils ont effectué une Mission.
</p>
<p>
    Les données d'un Utilisateur ne sont transmises à personne par Fovento, à l’exception de l'Association Affiliée en faveur de laquelle l’Utilisateur
    souhaite a effectué une Mission.
</p>
<p>
    11.5. Un système d’évaluation des Utilisateurs est mis en place. Les Associations doivent remplir ces évaluations sous peine de voir leur compte désactivé
    temporairement.
</p>
<p>
    Article 12. OBLIGATIONS ET DROITS DE FOVENTO
</p>
<p>
    12.1. Toutes les obligations auxquelles Fovento s'engage sont purement des obligations de moyens. Fovento choisit de manière autonome les moyens qu'elle
    juge utiles afin de pouvoir fournir ses Services.
</p>
<p>
    12.2. Fovento œuvre pour que les informations et les données sur fovento.be soient les plus complètes et les plus précises possibles, mais elle ne peut
    garantir qu'elles le sont.
</p>
<p>
    12.3. Fovento se réserve le droit de modifier le nom que l'Association Affiliée a introduit ou modifié dans la base de données de Fovento.
</p>
<p>
    12.4. Fovento ne communiquera pas à des tiers des informations sensibles concernant l'Association Affiliée.
</p>
<p>
    Fovento a toutefois le droit de communiquer des données non sensibles à des tiers qui désirent collaborer avec Fovento, lorsque Fovento est d'avis que la
    collaboration avec ces tiers peut apporter une plus-value pour l'Association Affiliée et pour Fovento.
</p>
<p>
    12.5. Fovento a le droit de mener des campagnes de communication et de publicité en faveur de l'Association Affiliée, sans que cette dernière puisse s'y
    opposer. Pour ce faire Fovento peut entre-autres utiliser les données suivantes:
</p>
<ul>
    <li>
        les coordonnées générales de l'Association;
    </li>
    <li>
        les campagnes organisées pour l'Association;
    </li>
    <li>
        les coordonnées des Utilisateurs qui ont réalisé des Missions en faveur de de l'Association.
    </li>
</ul>
<p>
    Il s'agit ici d'une énumération non limitative. Si cela s'avère utile pour des campagnes de communication et de publicité, Fovento peut également
    communiquer d'autres données concernant l'Association Affiliée dans le cadre des campagnes de communication et de publicité.
</p>
<p>
    12.7. Fovento se réserve le droit de modifier ou d'étendre ses Services ou encore d'y mettre fin.
</p>
<p>
    12.8. Fovento a le droit de modifier les présentes Conditions Générales à tout moment ; le cas échéant elle en avertira l'Association Affiliée par e-mail
    envoyé à l'adresse donnée par l'Association Affiliée.
</p>
<p>
    12.9. Fovento a le droit de contrôler les Utilisateurs et les Associations et le Contenu des Utilisateurs et des Associations à tout moment, mais elle n'en
    a pas l'obligation.
</p>
<p>
    12.10. L'Association Affiliée accepte que Fovento puisse prendre toutes les mesures qu'elle croit nécessaires si elle estime que quelque chose se passe en
    violation des dispositions des présentes Conditions Générales. Fovento se réserve ainsi le droit de limiter, suspendre ou mettre fin à ses Services et au
    compte fovento.be de l'Association Affiliée, de refuser l'accès à fovento.be, de retarder la mise en ligne de Contenu ou de retirer du Contenu, ainsi que
    d'entreprendre des démarches techniques et juridiques pour rayer l'Association Affiliée de fovento.be, lorsqu'elle estime que l'Association Affiliée est ou
    peut être la cause de problèmes ou d'éventuels dommages.
</p>
<p>
    Article 14. SOUS-TRAITANCE
</p>
<p>
    Afin de pouvoir fournir les Services, Foventoa le droit de faire appel à des sous-traitants ou des fournisseurs extérieurs.
</p>
<p>
    Article 13. RESPONSABILITÉ DE FOVENTO
</p>
<p>
    14.2. Malgré l'attention et les soins continus accordés au contenu et à la composition de ses Services, Fovento ne garantit pas que les informations
    obtenues via fovento.be soient complètes, exactes ou fiables, et elle ne peut en être tenue responsable.
</p>
<p>
    14.3. L'Association Affiliée est seule responsable en ce qui concerne le contenu et la nature de son Contenu et de manière générale pour tout ce que
    l'Association Affiliée fait sur fovento.be. Fovento n'est pas responsable du Contenu qu'une Association Affiliée ou un autre Utilisateur place sur son
    serveur.
</p>
<p>
    L'Association Affiliée couvrira Fovento intégralement pour toute revendication d'un tiers pour violation d'un quelconque droit de ce tiers.
</p>
<p>
    14.4. Fovento ne peut être tenue responsable que pour les dommages directs qui sont une conséquence d'une faute grave ou fait intentionnel de Fovento, de
    ses préposés et/ou de tiers affectés par Fovento dans le cadre de Fovento.be. De toute manière la responsabilité de Fovento est limitée à EUR 100 par
    dommage14.5. Fovento ne peut être tenue responsable pour un dommage dû à une force majeure, à des faits ou des tiers sur lesquels elle n'exerce pas un
    contrôle direct, comme par exemple, mais pas uniquement, des liens hypertexte vers fovento.be au départ d'autres applications ou sites internet donnant un
    accès direct sur fovento.be.
</p>
<p>
    Article 15. DISPONIBILITÉ
</p>
<p>
    15.1. Fovento œuvre pour que fovento.be soit disponible continuellement, mais sans pouvoir garantir une disponibilité à 100%. Malgré le fait que Fovento
    mette tout en œuvre pour les éviter, elle ne sera pas responsable pour les problèmes techniques, tels que des dérangements, des coupures ou des problèmes
    liés à la livraison électronique de ses Services.
</p>
<p>
    Fovento ne peut pas garantir que les défauts seront rectifiés à tout moment, ou que la plateforme et le serveur où elle se trouve est exempte de tout virus
    et d'autres fichiers contagieux et/ou malfaisants. Fovento ne peut en aucun cas être redevable d'une indemnité financière ou autre.
</p>
<p>
    15.2. L'Association Affiliée reconnait que Fovento n'est pas responsable pour la perte de ou des dommages aux ordinateurs, aux données ou aux données
    informatiques ou de télécommunication suite à l'utilisation de fovento.be.
</p>
<p>
    15.3. Fovento est à tout moment, avec effet immédiat et sans motivation, en droit de limiter (temporairement), de suspendre ou de mettre fin à la
    fourniture d'un ou de plusieurs Services, d'arrêter temporairement ou définitivement le compte d'une Association Affiliée et/ou de le supprimer, de
    supprimer du Contenu Utilisateur et/ou d'adresser un avertissement, plus particulièrement lorsque l'Association Affiliée agit à l'encontre des présentes
    Conditions Générales ou si Fovento estime que les agissements de l'Association Affiliée peuvent occasionner des dommages à l'Association Affiliée, à des
    Utilisateurs, à des tiers, à Fovento ou à fovento.be.
</p>
<p>
    Ceci n'engagera nullement la responsabilité de Fovento.
</p>
<p>
    15.4. Fovento a le droit de mettre fin à fovento.be à tout moment. En cas d'arrêt tous les droits et/ou licences qui auraient été accordés à l'Association
    Affiliée seraient arrêtés par la même occasion, tout comme toute utilisation de fovento.be.
</p>
<p>
    Article 16. LIENS HYPERTEXTE
</p>
<p>
    16.1. Aucun lien ne peut être établi au départ d'un site web quelconque vers fovento.be si un tel lien est susceptible de causer des dommages à Fovento ou
    à fovento.be. Ceci vise entre autres des sites qui sont contraires à la législation, les sites avec un contenu non éthique, ...
</p>
<p>
    Cette interdiction s'applique à toute forme ou technique de connexion reprenant ou faisant apparaitre le nom, l'adresse ou un autre élément appartenant à
    Fovento sur un autre site internet ou sur une application qui serait dommageable pour Fovento ou pour fovento.be, ou permettant aux navigateurs internet
    d'être dirigés vers fovento.be au départ de ce site internet ou de cette application.
</p>
<p>
    Article 17. PROCÉDURE DES PLAINTES
</p>
<p>
    17.1. Dans le cas où une Association Affiliée pense constater du Contenu illicite ou une violation du code de conduite ou de la règle de bon usage, ou plus
globalement aux Conditions Générales, elle peut en informer Fovento par mail motivé à l'adresse suivante:    <a href="mailto:info@fonvento.be">contact@fonvento.be</a>.
</p>
<p>
    Fovento considérera toutes les plaintes sérieusement et fera une enquête.
</p>
<p>
    17.2. Fovento peut intervenir dans des litiges entre Utilisateurs et a le droit de retirer n'importe quel Contenu, si celui-ci est contraire aux Conditions
    Générales, ou si le Contenu s'avère nuisible pour les Utilisateurs, pour Fovento, pour fovento.be ou pour une tierce partie.
</p>
<p>
    17.3. Fovento a un pouvoir de jugement discrétionnaire et a toujours le dernier mot.
</p>
<p>
    Article 18. TRANSFERT
</p>
<p>
    18.1. Fovento a le droit de transférer une partie ou la totalité de ses droits et obligations contractuelles à un tiers, sans l'accord de l'Association
    Affiliée et sans que cette dernière puisse demander des dommages et intérêts en ce qui concerne ce transfert.
</p>
<p>
    Article 19. VARIA
</p>
<p>
    19.1. La nullité, l'invalidité et/ou l'impossibilité d'exécuter une des clauses des Conditions Générales n'affecte pas la légalité, la validité ni la
    possibilité d'exécution des autres dispositions des Conditions Générales.
</p>
<p>
    19.2. Toute modification de la Convention Standard doit être établie par un accord écrit entre Parties et sera jointe en annexe des présentes.
</p>
<p>
    19.3. Au cas où un tribunal judiciaire ou administratif compétent devrait déclarer qu'une certaine disposition des Conditions Générales est entièrement ou
    partiellement nulle, invalide et/ou impossible à exécuter, les Parties feront tous les efforts raisonnables et collaboreront de bonne foi pour rédiger une
    nouvelle clause qui soit légale, valide et/ou possible à exécuter et dont l'intention se rapproche le plus possible de la disposition concernée. Les
    Parties vérifieront par la même occasion dans quelle mesure les modifications de cette clause auront un impact sur les autres clauses des conditions
    générales. Les Parties modifieront également ces autres clauses si cela s'avère nécessaire.
</p>
<p>
    Article 20. ÉLECTION DE DROIT ET ÉLECTION DE FOR
</p>
<p>
    20.1. Seul le droit belge s'appliquera en cas de litige.
</p>
<p>
    Tous les litiges entre les Parties, provenant de, ou à mettre en rapport avec l'élaboration, la validité, l'exécution, la dissolution et l'interprétation
    de la présente Convention, seront exclusivement et définitivement réglés de la manière suivante:
</p>
<p>
    En cas de litige qui ne peut être réglé à l'amiable, les parties tenteront tout d'abord de trouver une solution via la médiation, conformément à la
    disposition du Code judiciaire qui s'applique aux médiations volontaires. En cas d'échec de la médiation, les Parties soumettront le litige aux cours et
    tribunaux francophones à 1000 Bruxelles.
</p>
