 <div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class = "footerbox">
          <p>
            <%= link_to "Pour les associations", home_nonprofits_path %>
          </p>
          <p>
            2016 Fovento ASBL
            &nbsp;
            <%= link_to contact_path do %>
            <span><i class="fa fa-envelope" style="font-size: 15px;"> </i></span>
            <% end %>
          </p>
          <p>
            <%= link_to "Conditions d'utilisation", terms_and_conditions_path %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
