 <div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p>
        <%= link_to "Pour les bénévoles", home_volunteers_path %>
        &nbsp;
        <%= link_to "Pour les associations", home_nonprofits_path %></p>
        &nbsp;
        <%= link_to "Contact", contact_path %></p>
      </div>
      <div class="col-xs-8 text-right">
        <p>2016 Fovento ASBL - Tous droits réservés - contact@fovento.be &nbsp; <%= link_to "Conditions d'utilisation", terms_and_conditions_path %> </p>
      </div>
    </div>
  </div>
</div>
