<div class="modal fade mustconnectmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-center" style="padding: 10px;">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Démarrer</h4>
      </div>
      <br>
      <p>Pour pouvoir postuler, merci de te connecter en tant que bénévole:</p>
      <%= link_to 'CONNECT', new_volunteer_session_path, class: 'navbar-wagon-item navbar-wagon-button btn' %>
      <br>
      <br>
      <p>Tu pourras ensuite revenir sur cette page et déposer ta candidature.</p>
      <p>Pour juste continuer ta visite, ferme ce cadre en cliquant à côté.</p>
    </div>
  </div>
</div>
