<!-- SUPPORT PIN CALL-OUT, anchored in wrapper -->
<div class="support pinned text-center" >
  <%= link_to contact_path do %>
  <% tooltip_message = "Contacte l'équipe Fovento pour tes questions." %>
  <i class="fa fa-question-circle custom-tooltip" data-toggle="tooltip", title="<%= tooltip_message %>" data-placement="top"></i>
  <% end %>
</div>
