

<!-- <div class="col-sm-9">

  <div id="section1">
    <div class="page-header"><h1>Stratégie</h1></div>
    <h2 id="section11">La vision de Fovento</h2>
    <h2 id="section12">La mission de Fovento</h2>
    <h2 id="section13">Les ambitions de Fovento</h2>
  </div>

  <div id="section2">
    <div class="page-header"><h1>Ambassadeurs</h1></div>
    <h2>Qu'est-ce que le rôle d'ambassadeur?</h2>
    <h2>Comment devient-on ambassadeur?</h2>
    <h2>Qui sont les ambassadeurs actuels?</h2>
  </div>

  <div id="section3">
    <div class="page-header"><h1>Gouvernance</h1></div>
    <h2>Principes</h2>
    <p>Fovento repose sur des principes de gouvernance horizontale et participative. L'équipe Fovento souhaite prendre l'opportunité de cette aventure pour expérimenter de nouvelles formes d'intelligence de groupe, et collaborer au mieux pour porter le projet vers de nouveaux horizons.</p>
    <p>L'entièreté de l'équipe réalise qu'elle est composée de membres ayant des activités professionnelles à côté de Fovento. Elle souhaite que cet engagement reste un plaisir et ne devienne pas une contrainte. Elle reconnaît aussi que la viabilité à long terme du projet nécessite que chacun y mette du sien avec sérieux, le même sérieux qui est attendu des bénévoles de la plate-forme.</p>
    <p>L'équipe s'attend à ce que selon les événements de la vie de chacun, certains soient moins disponibles que d'autres à certaines périodes. Pour que le projet continue d'avancer pendant ce temps, les personnes moins disponibles feront confiance à l'équipe active pour leur décisions (sauf exceptions où l'avis de chacun est nécessaire, cf. le point "Décisions"). Cela devrait permettre un déroulé constant du projet, non ralenti par les indisponibilités des uns et des autres mais où chacun serait capable de porter le flambeau et de recevoir la confiance des autres pour cela.</p>
    <h2>Roles & responsabilités</h2>
    <p>Les rôles sont définis dans l'équipe de manière à s'assurer que chaque fonction critique de Fovento sera suivie de près par un membre de l'équipe. Cela ne signifie pas que seul ce membre sera chargé de la fonction, mais bien que ce membre aura le devoir de s'assurer que cette fonction est bien couverte pour une période donnée.</p>
    <p>Par exemple, le responsable du Business Development ASBLs ne doit pas assurer à lui seul tous les rendez-vous avec les ASBLs (ces rendez-vous devraient être accomplis par tous), mais par contre c'est lui qui s'assure que ces rendez-vous se tiennent bien et qu'un nombre satisfaisant d'asbls ont rejoint la plate-forme pour une période donnée. En anglais, on parle de la distinction "responsible" vs. "accountable" : les rôles définis ici le sont pour l' "accountability" pour chaque fonction. Pour résumer cela en une expression: "La personne qui a un rôle donné n'est pas spécialement celle qui se salit les mains avec une fonction, mais doit être celle qui ne dort pas la nuit si la fonction n'a pas été couverte."</p>
    <p>Les rôles définis pour Fovento sont les suivants:</p>
    <ul>
      <li>Business Development ASBLs</li>
      <li>Business Development bénévoles</li>
      <li>Communication facebook</li>
      <li>Communication autres channels</li>
      <li>Plate-forme web</li>
      <li>Graphisme</li>
      <li>Légal & Finances</li>
      <li>Coordination & facilitation</li>
    </ul>
    <p>Ces rôles sont définis en concertation avec l'entièreté de l'équipe, et changeables sur proposition de n'importe quel membre.</p>
    <h2>Décisions</h2>
    <h2>Communication interne</h2>
    <h2>Heartbeat</h2>
  </div> -->


<!-- <li>
          <a href="#GroupE">Communication</a>
          <ul class="nav nav-stacked">
            <li><a href="#GroupESub1">Tone of voice</a></li>
            <li><a href="#GroupESub2">Watchouts</a></li>
            <li><a href="#GroupESub3">Pitch</a></li>
            <li><a href="#GroupESub4">Bénévoles</a></li>
            <li><a href="#GroupESub5">Associations</a></li>
            <li><a href="#GroupESub6">Tout public</a></li>
            <li><a href="#GroupESub7">Dossier de presse</a></li>
            <li><a href="#GroupESub8">Matériel</a></li>
          </ul>
        </li>



        <li>
          <a href="#GroupA">Stratégie</a>
          <ul class="nav nav-stacked">
            <li><a href="#GroupASub1">Mission</a></li>
            <li><a href="#GroupASub2">Vision</a></li>
            <li><a href="#GroupASub3">Ambition</a></li>
            <li><a href="#GroupASub4">Priorités</a></li>
          </ul>
        </li>

        <li>
          <a href="#GroupC">Gouvernance</a>
          <ul class="nav nav-stacked">
            <li><a href="#GroupCSub1">Principes</a></li>
            <li><a href="#GroupCSub2">Rôles & Responsabilités</a></li>
            <li><a href="#GroupCSub3">Décisions</a></li>
            <li><a href="#GroupCSub4">Communication interne</a></li>
            <li><a href="#GroupCSub5">Heartbeat</a></li>
          </ul>
        </li>

        <li>
          <a href="#GroupF">Boring stuff</a>
          <ul class="nav nav-stacked">
            <li><a href="#GroupFSub1">Statuts</a></li>
            <li><a href="#GroupFSub2">Finances</a></li>
          </ul>
        </li> -->



        <div class="row" style="background-color: rgba(62,146,204,0.5)">
          <nav class="col-xs-2 bs-docs-sidebar">

            <ul id="sidebar" class="nav nav-stacked fixed">
              <li>
                <a href="#GroupZ">Intro</a>

              </li>
              <li>
                <a href="#GroupA">Ambassadeurs</a>
                <ul class="nav nav-stacked">
                  <li><a href="#GroupASub0">Principes</a></li>
                  <li><a href="#GroupASub1">Rôles</a></li>
                  <li><a href="#GroupASub2">Sélection</a></li>
                  <li><a href="#GroupASub3">Team</a></li>
                </ul>
              </li>
              <li>
                <a href="#GroupB">Plate-forme</a>
                <ul class="nav nav-stacked">
                  <li><a href="#GroupBSub0">Principes</a></li>
                  <li><a href="#GroupBSub1">Inscription</a></li>
                  <li><a href="#GroupBSub2">Staffing</a></li>
                  <li><a href="#GroupBSub3">Suivi & closing</a></li>
                </ul>
              </li>
              <li>
                <a href="#GroupC">Dashboard</a>
                <ul class="nav nav-stacked">
                <li><a href="#GroupCSub0">Principes</a></li>
                  <li><a href="#GroupCSub1">Création de missions</a></li>
                  <li><a href="#GroupCSub2">Gestion associations</a></li>
                  <li><a href="#GroupCSub3">Gestion candidatures</a></li>
                  <li><a href="#GroupCSub3">Remarketing</a></li>
                  <li><a href="#GroupCSub3">Attente de démarrage</a></li>
                  <li><a href="#GroupCSub3">En cours</a></li>
                </ul>
              </li>
              <li>
                <a href="#GroupD">Missions</a>
                <ul class="nav nav-stacked">
                  <li><a href="#GroupDSub1">Principes</a></li>
                  <li><a href="#GroupDSub1">Identification</a></li>
                  <li><a href="#GroupDSub2">Rédaction</a></li>
                  <li><a href="#GroupDSub3">Project management</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <!--Main Content -->
          <div class="col-xs-10" style="background-color: #FAFAFA; padding: 0px;">



            <section id="GroupZ">
              <div class="mission-banner" style="background-image: linear-gradient(-225deg, rgba(1,1,1,0.2) 0%, rgba(62,146,204,0.1) 80%), url(http://s3-eu-west-1.amazonaws.com/fovento/images/banner.jpg);">
                <div class="placeholder" style="flex: 1 0; min-height: 50px;"> </div>
                <div class="container">
                  <div class="page-header" style="color: white">
                   <h1>Guide de l'ambassadeur Fovento</h1>
                 </div>
               </div>
             </div>
           </section>

           <div class="articles">

            <section id="GroupA">
              <div class="page-header"><h3>Ambassadeurs</h3></div>
              <div id="GroupASub0">
                <h4>Principes</h4>
              </div>
              <div id="GroupASub1">
                <h4>Rôle</h4>
              </div>
              <div id="GroupASub2">
                <h4>Sélection</h4>
              </div>
              <div id="GroupASub3">
                <h4>Team</h4>
              </div>
            </section>

            <section id="GroupB">
              <div class="page-header"><h3>Fonctionnement de la plate-forme</h3></div>
              <div id="GroupBSub0">
                <h4>Principes</h4>
              </div>
              <div id="GroupBSub1">
                <h4>Inscription</h4>
              </div>
              <div id="GroupBSub2">
                <h4>Staffing</h4>
              </div>
              <div id="GroupBSub3">
                <h4>Suivi & closing</h4>
              </div>
            </section>

            <section id="GroupC">
              <div class="page-header"><h3>Dashboard</h3></div>
              <div id="GroupCSub0">
                <h4>Principes</h4>
              </div>
              <div id="GroupCSub1">
                <h4>Création de missions</h4>
              </div>
              <div id="GroupCSub2">
                <h4>Gestion des associations</h4>
              </div>
              <div id="GroupCSub3">
                <h4>Gestion des candidatures</h4>
              </div>
              <div id="GroupCSub3">
                <h4>Remarketing</h4>
              </div>
              <div id="GroupCSub3">
                <h4>En attente de démarrage</h4>
              </div>
              <div id="GroupCSub3">
                <h4>En cours</h4>
              </div>
            </section>

            <section id="GroupD">
              <div class="page-header"><h3>Missions</h3></div>
              <div id="GroupDSub1">
                <h4>Principes</h4>
              </div>
              <div id="GroupDSub2">
                <h4>Identification</h4>
              </div>
              <div id="GroupDSub3">
                <h4>Rédaction</h4>
              </div>
              <div id="GroupDSub4">
                <h4>Project management</h4>
              </div>
            </section>

          </div>

        </div>

      </div>

      <% content_for :javascript do %>

      <script>
        $('body').scrollspy({
          target: '.bs-docs-sidebar',
          offset: 40
        });

        var offset = 80;

        $('.nav-stacked li a').click(function(event) {
          event.preventDefault();
          $($(this).attr('href'))[0].scrollIntoView();
          scrollBy(0, -offset);
        });
      </script>

      <% end %>


