<div class="wrapper">
  <div class="container padded">
    <h3>Elles font confiance aux bénévoles Fovento:</h3>
    <div class= "row">
      <% @nonprofits.each do |n| %>
      <div class="col-xs-3">
        <div class="nonprofit"><%= image_tag n.logo, class: 'avatar-nonprofit-home' %></div>
      </div>
      <% end %>
    </div>
  </div>
</div>
