<div class='form-banner' style="background-image: linear-gradient(-200deg, rgba(0,0,0,0.3) 5%, rgba(0,0,0,0.1) 100%), url(http://s3-eu-west-1.amazonaws.com/fovento/images/work-1.jpg);">
  <div class='form-box padded'>
    <div class='background'>
      <div class='form text-justify'>
<!-- <div class="wrapper padded">
  <div class="text-center"><h2>Foire aux questions</h2></div>
  <div class="container" style="background-color: $gray-lightest; color: $gray-dark;">
    <div class="row">
      <div class="col-xs-12"> -->
      <h2>Foire aux questions</h2>
        <dl>
          <div class="FAQ_section">
            <div class="FAQ_section_title">BENEVOLES</div>
            <dt class = "FAQ_question">Qui peut devenir bénévole Fovento?</dt>
            <dd class ="FAQ_answer">Les missions Fovento s'adressent typiquement aux jeunes professionnel(le)s ayant entre 1 et 10 ans d'expérience. Bien sûr, les contributions d'autres profils de bénévoles sont aussi les bienvenues! Le critère le plus important pour devenir bénévole sur une mission Fovento est de disposer des compétences nécessaires à la mission et de s'engager sérieusement pour la mener à bien.</dd>
            <dt class = "FAQ_question">L’équipe Fovento réalise-t-elle une sélection des bénévoles qui rejoignent la plate-forme?</dt>
            <dd class ="FAQ_answer">L'inscription à la plate-forme est ouverte à tous les bénévoles, sans sélection préalable par l'équipe Fovento. Pour s'assurer du sérieux des bénévoles, l'inscription passe préférablement par une authentification LinkedIn. De plus, Fovento peut éventuellement contacter certain(e)s bénévoles directement pour mieux cerner leur profil.</dd>
            <dt class = "FAQ_question">Qui décide quel(le) bénévole est sélectionné(e) pour une mission?</dt>
            <dd class ="FAQ_answer">C'est l'association qui effectue la sélection du ou de la bénévole, qui est alors automatiquement informé(e) par mail. Lorsqu'un ou une bénévole se porte candidat(e) pour une mission, il lui est demandé de remplir un court questionnaire pour articuler ses motivations. L'équipe Fovento recueille ces informations et les transmet alors à l'association soutenue. </dd>
            <dt class = "FAQ_question">Peut-on réaliser une mission en équipe avec d’autres bénévoles?</dt>
            <dd class ="FAQ_answer">Les missions peuvent tout à fait être réalisées en équipe. Lors du dépôt de candidature pour une mission, il est possible de signaler que la candidature est effectuée pour une équipe de bénévoles, et d'indiquer les équipiers potentiels. En pratique, c'est le ou la bénévole qui dépose la candidature qui aura la responsabilité de coordonner l'équipe pendant la mission. Par simplicité de coordination, Fovento ne se charge pas de constituer des équipes combinant des candidatures individuelles de bénévoles.</dd>
            <dt class = "FAQ_question">Est-il possible de contacter et de rencontrer les autres bénévoles de la plate-forme?</dt>
            <dd class ="FAQ_answer">Fovento veut favoriser la création d'une communauté d'action et d'idées parmi les bénévoles et les associations, soudée par l'expérience commune du bénévolat. Pour matérialiser cela concrètement, Fovento organise régulièrement des événements à destination de tous les utilisateurs de la plate-forme. Par ailleurs, il est prévu à moyen terme que la plate-forme soit équipée d'un service de messagerie entre bénévoles.</dd>
            <dt class = "FAQ_question">Quel est le statut sous lequel opèrent les bénévoles?</dt>
            <dd class ="FAQ_answer">Lorsqu'ils réalisent une mission Fovento, les bénévoles le font à titre individuel, sans que leur soit conféré un statut particulier. Ils ne sont donc en rien liés légalement à l'ASBL Fovento. Le rôle de Fovento se limite en effet à favoriser la mise en relation d'associations et de bénévoles potentiels (sans rôle de coordination des missions une fois celles-ci initiées).</dd>
            <dt class = "FAQ_question">Je ne reçois pas de nouvelles de ma candidature, c'est normal?</dt>
            <dd class ="FAQ_answer">Une fois que ta candidature pour une mission a été déposée, elle est transférée à l'association pour sélection. Nous demandons
            aux associations de traiter rapidement (cinq jours au max) les candidatures pour ne pas te laisser dans l'attente trop longtemps. Lorsque la sélection a été faite,
            tu en es informé(e) directement par mail (sur l'adresse mail avec laquelle tu t'es inscrit(e) sur LinkedIn!). Tu peux aussi suivre à tout moment l'état de ta candidature sur ton dashboard. Si tu ne reçois pas de nouvelles d'une association après plus d'une semaine, n'hésite pas à contacter la Team Fovento directement pour en discuter.</dd>
          </div>
          <div class="FAQ_section">
            <div class="FAQ_section_title">ASSOCIATIONS</div>
            <dt class = "FAQ_question">Quelles associations peuvent bénéficier des services de Fovento?</dt>
            <dd class ="FAQ_answer">Toute association poursuivant un but non-lucratif peut faire appel à Fovento et proposer des missions via la plate-forme. Il est préférable que l'association soit enregistrée sous le statut d'ASBL, mais une simple association de fait peut aussi bénéficier de Fovento pour autant que les circonstances le justifient (par exemple, si l'association de fait est en transition vers une structure d'ASBL et a besoin d'une aide juridique ponctuelle pour la rédaction de ses statuts). Fovento se réserve le droit de refuser l'accès à la plate-forme à certaines associations, sans qu'une justification ne soit nécessaire.</dd>
            <dt class = "FAQ_question">Comment publier une mission sur la plate-forme?</dt>
            <dd class ="FAQ_answer">Pour publier une mission sur la plate-forme, les associations sont invitées à contacter l'équipe Fovento via le formulaire de contact. L'équipe Fovento fixe ensuite un rendez-vous de diagnostic avec l'association pour mieux comprendre ses besoins, et consigner ceux-ci dans une feuille de route (le cahier des charges de la mission). Une fois la feuille de route rédigée et validée conjointement, elle est publiée sur la plate-forme. Si l'association est d'emblée très claire sur ses besoins, elle peut bénéficier d'un processus accéléré de publication, sans rendez-vous de diagnostic.</dd>
            <dt class = "FAQ_question">Comment se passe le processus de sélection des bénévoles?</dt>
            <dd class ="FAQ_answer">Le processus est très simple. Chaque fois qu'un(e) bénévole se porte candidat(e) pour une mission, l'association est automatiquement prévenue par mail, et reçoit les candidatures ainsi que les coordonnées des bénévoles. Si le profil d'un ou une bénévole lui convient, l'association peut en 1 click confirmer la sélection de ce(tte) bénévole. Un email automatique sera alors envoyé par Fovento à tous les bénévoles ayant postulé pour cette mission, pour leur indiquer que la sélection a été faite. Le ou la bénévole sélectionné(e) sera en particulier informé de l'heureuse nouvelle, en recevant un lien vers une page de démarrage de mission.</dd>
            <dt class = "FAQ_question">Les associations doivent-elles envoyer elles-mêmes des mails aux bénévoles pendant le processus de sélection?</dt>
            <dd class ="FAQ_answer">Non, cela n'est pas nécessaire. La plate-forme informe automatiquement les bénévoles s'ils sont sélectionnés ou non pour une mission. Bien sûr, les associations peuvent tout à fait contacter les bénévoles par mail ou téléphone lorsqu'ils ont postulé, pour en savoir plus sur leur profil.</dd>
            <dt class = "FAQ_question">L'utilisation des services de bénévolat est-elle gratuite?</dt>
            <dd class ="FAQ_answer">Tous les services rendus par les bénévoles Fovento sont entièrement gratuits pour les associations. Dans le cas cependant où des frais devraient être encourus pour la réalisation d'une mission, et où l'on peut raisonnablement suggérer que ces frais auraient été encourus même en l'absence du soutien du ou de la bénévole, ces frais devraient rester à la charge de l'association. Par exemple, des frais d'hébergement pour l'établissement d'un site web devraient être supportés par l'association, tandis que le déplacement du ou de la bénévole devrait se faire à ses propres frais. Dans un souci de bonne entente, il est conseillé de discuter de ce sujet au lancement de chaque mission pouvant potentiellement engendrer des frais. Fovento ne pourra en aucune situation être tenu redevable de frais encourus durant la réalisation des missions.</dd>
          </div>
          <div class="FAQ_section">
            <div class="FAQ_section_title">MISSIONS</div>
            <dt class = "FAQ_question">Quels sont les types de missions proposées sur la plate-forme?</dt>
            <dd class ="FAQ_answer">Les missions Fovento ont trois caractéristiques importantes: elles font appel à des compétences particulières (et donc nécessitent autre chose que du temps et de l'énergie), sont limitées dans le temps, et mènent à un résultat concret et mesurable. En pratique, les compétences sont souvent issues du secteur privé, la durée varie entre un 0.5 et 3 jours en équivalent temps plein, et les critères de réussite de la mission sont définis dès la rédaction de sa feuille de route.</dd>
            <dt class = "FAQ_question">Est-il possible de réaliser des missions entièrement à distance?</dt>
            <dd class ="FAQ_answer">Bien que Fovento cherche à favoriser les rencontres entre bénévoles et associations, il est tout à fait possible de réaliser des missions entièrement à distance si cela est le plus simple logistiquement. Par exemple, les missions d'analyse de données, de graphisme, de développement web...se prêtent bien à ce genre de modèle. Dans le cas d'une mission à distance, il est quand même recommandé d'avoir quelques échanges de vive voix par téléphone ou sur skype: c'est plus chaleureux que de longs échanges de mails!</dd>
            <dt class = "FAQ_question">Quel suivi est mis en place en cours de mission?</dt>
            <dd class ="FAQ_answer">Le rôle primaire de la plate-forme Fovento est de favoriser la mise en contact des bénévoles et associations pour initier des missions de support. Une fois une mission initiée, il appartient au ou à la bénévole de mener celle-ci à bien en collaboration avec l'association. Fovento n'interviendra en cours de mission que dans des circonstances le justifiant exceptionnellement et à déterminer au cas par cas.</dd>
            <dt class = "FAQ_question">Peut-on modifier une mission en cours de réalisation?</dt>
            <dd class ="FAQ_answer">Des changements de circonstances peuvent amener des feuilles de route de mission définies initialement à ne plus refléter les besoins d'une association. Si cela est constaté seulement après l'initiation de la mission et le briefing du ou de la bénévole, l'association aura soin de contacter l'équipe Fovento pour la notifier du changement d'objectifs. Le ou la bénévole sera alors libre de réévaluer son intérêt pour la mission mise à jour. Suite à cela, la mission pourra éventuellement être republiée sur la plate-forme sous une version modifiée.</dd>
            <dt class = "FAQ_question">Peut-on interrompre une mission en cours de réalisation?</dt>
            <dd class ="FAQ_answer">Si les circonstances le justifient (mission trop complexe, bénévole empêché(e), association indisponible...), une mission peut être interrompue en cours de réalisation (via la fonction dédiée de la plate-forme). Afin d'améliorer l'expérience des prochains utilisateurs, Fovento pourra potentiellement contacter les participants de la mission interrompue pour récolter leur feedback.</dd>
          </div>
          <div class="FAQ_section">
            <div class="FAQ_section_title">AUTRES QUESTIONS</div>
            <dt class = "FAQ_question">L'équipe Fovento est-elle entièrement bénévole?</dt>
            <dd class ="FAQ_answer">Oui! Les 4 membres de la Team Fovento sont tous bénévoles. Ils participent d'ailleurs eux-mêmes aussi à des missions proposées sur la plate-forme.</dd>
            <dt class = "FAQ_question">Pourquoi le nom Fovento?</dt>
            <dd class ="FAQ_answer">Bonne question! Fovento vient du latin "fovere", qui signifie à la fois "Entretenir un espoir" et "Apporter son soutien". Participer à l'expérience Fovento, c'est soutenir des associations pour construire un monde meilleur, une mission à la fois.</dd>
          </div>
        </dl>
        <p class="text-center">D'autres questions? N'hésite pas à nous contacter: c'est <%= link_to "ici", contacts_path %> que ça se passe. Pour encore plus de détails, voir les <%= link_to "Conditions d'utilisation", terms_and_conditions_path %>. </p>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
<script>

  $('dd').hide();
  $('.FAQ_question').hide();

  $(document).ready(function (e){
    $("#toutes").click(function(e){
      $('.open-mission').fadeIn();
      $('.closed-mission').fadeIn();
    })
    $("#ouvertes").click(function(e){
      $('.open-mission').fadeIn();
      $('.closed-mission').fadeOut();
    })
    $("#fermées").click(function(e){
      $('.open-mission').fadeOut();
      $('.closed-mission').fadeIn();
    })

    $('.FAQ_question').click(function() {
      var answer = $(this).next('.dd');
      if (answer.is(":visible")){
        return;
      }else{
        var toggle = $(this).nextUntil('.FAQ_question');
        $('.FAQ_answer').not(toggle).slideUp();
        $('.FAQ_question').removeClass('FAQ_question_active');
        $(this).addClass('FAQ_question_active');
        toggle.slideDown();
      };
    });
    $('.FAQ_section_title').click(function() {
      $('.FAQ_question').slideUp();
      $('.FAQ_answer').slideUp();
      $('.FAQ_section_title_active').addClass('FAQ_section_title');
      var others = $('.FAQ_section_title');
      others.removeClass('FAQ_section_title_active');
      $(this).addClass('FAQ_section_title_active');
      $(this).parent().find(".FAQ_question").slideDown();
      $(".FAQ_section").not(this.parent()).find(".FAQ_question").slideUp();
    });

    $(".pinned").pin({padding: {top: 200}, containerSelector: ".wrapper"})
  });
</script>
<% end %>

