<div class="wrapper">
  <div class="container padded">
  <div class="team-header">
  <h3>La Team Fovento</h3>
  <hr>
  <p>Nous sommes la Team Fovento: 4 jeunes gaillards bruxellois, tous bénévoles sur le projet. Nous avons décidé de lancer Fovento pour inspirer un maximum de citoyens à passer à l'action avec leurs compétences. Nous travaillons dur pour t'offrir le meilleur de Fovento! Contacte-nous <%= link_to "ici", contacts_path %>.</p>
  </div>
    <div class="row">

    <!-- FIRST TEAM MEMBER -->
      <div class="col-md-4">
        <div class="team-member-card">
         <div class="team-member-header">

           <div class="team-member-picture">
            <%= image_tag "edouard-team.png", class: 'avatar-team' %>
          </div>

          <!-- FIRST NAME -->
          <div class="team-member-name">
          <h1 class="team-member-first-name">EDOUARD</h1>
            <!-- LAST NAME -->
            JACQUIN
          </div>

        </div>
        <!-- DESCRIPTION -->
        <div class="team-member-description">
          <p>Ce vrai bruxellois au style savamment étudié parviendrait presque à nous faire oublier ses racines françaises. </p>
          <p>En tant que bon consultant, il manie à merveille les ficelles du project management au service de Fovento. Son enthousiasme et sa maîtrise des réseaux sociaux contribuent à faire grandir la communauté Fovento jour après jour. </p>
          <p>Jeune homme à l’humour typé et à l’opinion bien tranchée, Edouard est aussi un grand sportif ascendant footeux qui aime profiter de la vie et pavoiser le dimanche sur la place Flagey.</p>
        </div>
        <!-- QUOTE -->
        <p>Sa phrase préférée : " On ne fait pas un bébé avec neuf femmes en un mois !"</p>
      </div>
    </div>
    <!-- END OF FIRST TEAM MEMBER -->

    <!-- THIRD TEAM MEMBER -->
      <div class="col-md-4">
        <div class="team-member-card">
         <div class="team-member-header">

           <div class="team-member-picture">
            <%= image_tag "christophe-team.png", class: 'avatar-team' %>
          </div>

          <!-- FIRST NAME -->
          <div class="team-member-name">
          <h1 class="team-member-first-name">CHRISTOPHE</h1>
            <!-- LAST NAME -->
            SWAELUS
          </div>

        </div>
        <!-- DESCRIPTION -->
        <div class="team-member-description">
          <p>Un top gars!</p>
        </div>
        <!-- QUOTE -->
        <p>Sa phrase préférée : " Bon les gars, on est pas là pour être ici !"</p>
      </div>

    </div>
    <!-- END OF THIRD TEAM MEMBER -->


    <!-- FOURTH TEAM MEMBER -->
      <div class="col-md-4">
        <div class="team-member-card">
         <div class="team-member-header">

           <div class="team-member-picture">
            <%= image_tag "francois-team.png", class: 'avatar-team' %>
          </div>

          <!-- FIRST NAME -->
          <div class="team-member-name">
          <h1 class="team-member-first-name">FRANCOIS</h1>
            <!-- LAST NAME -->
            HALIN
          </div>

        </div>
        <!-- DESCRIPTION -->
        <div class="team-member-description">
          <p>Un sacré gaillard !</p>
        </div>
        <!-- QUOTE -->
        <p>Sa phrase préférée : " C'est pas tout ça mais... quand est-ce qu'on mange?"</p>
      </div>
    </div>
    <!-- END OF FOURTH TEAM MEMBER -->
  </div>
</div>
