<div class="wrapper">
  <div class="container padded">
    <div class="t_asssociations">
    <%= render 'pages/terms/associations' %>
    </div>
    <div class="t_volunteers">
    <%= render 'pages/terms/volunteers' %>
    </div>
    <div class="t_policy">
    <%= render 'pages/terms/policy' %>
    </div>
  </div>
</div>
