


<div class='form-banner' style="background-image: linear-gradient(-200deg, rgba(0,0,0,0.3) 5%, rgba(0,0,0,0.1) 100%), url(http://s3-eu-west-1.amazonaws.com/fovento/images/banner.jpg);">
  <div class='form-box padded'>
    <div class='background'>
      <div class='form' style="text-align: justify;">
        <h2>Les valeurs Fovento</h2>
        <p>Fovento est construit sur des piliers de rencontre, d'engagement et de collaboration. Ces 3 piliers font le succès des missions, tout en créant une communauté aux valeurs partagées. En se lançant dans l'aventure, bénévoles et associations s'approprieront à leur tour ces valeurs.</p>
        <h3>RENCONTRER</h3>
        <ul>
        <li><b>Rencontrer pour découvrir:</b> les bénévoles et associations sont en quête de
        découvertes, sur les plans humain et intellectuel. Les missions Fovento favorisent
        ainsi des rencontres sincères et un apprentissage continu</li>
        <li><b>Rencontrer pour passer du bon temps:</b> on travaille d'autant mieux qu'on aime ce
        que l'on fait. Prendre du plaisir tout en ayant un impact sociétal positif est une des
        clés de la réussite des missions Fovento</li>
        </ul></p>

        <h3>S'ENGAGER</h3>
        <ul>
        <li><b>S'engager citoyennement:</b> prendre part à une mission Fovento, c'est dédier son
        énergie à la construction d'une société plus solidaire, juste et durable. Quelques
        heures de son temps permettent déjà d'apporter sa brique à l'édifice</li>
        <li><b>S'engager professionnellement:</b> mener à bien une mission Fovento nécessite sérieux
        et professionnalisme: honorer les délais établis, respecter la confidentialité des
        informations et donner le meilleur de soi-même pour des résultats de qualité</li>
        </ul></p>

        <h3>COLLABORER</h3>
        <ul>
        <li><b>Collaborer pour avoir un impact:</b> travailler ensemble permet de se dépasser et
        d'avoir un impact plus important que seul. Prendre part à une mission Fovento, c'est réaliser que la force d'une équipe peut bouger des montagnes</li>
        <li><b>Collaborer pour partager:</b> les missions Fovento favorisent la diffusion de ce que tous
        ont de meilleur à offrir: idées, compétences et expériences se partagent ainsi sans
        limites au bénéfice de tous</li>
        </ul></p>
        <div class="text-center" style="margin-bottom: -30px;">
        <h3>Quel sera ton impact?</h3>
        </div>
      </div>
    </div>
  </div>


