<div class="wrapper-gray">
  <div class="container">

    <div class="page-header">
    <h2>Enregistrement d'une nouvelle association</h2>
    </div>
    <%= render 'form', nonprofit_profile: @nonprofit_profile %>
  </div>
</div>
