<h1>Mission accomplie!</h1>

<p>Bonjour,</p>

<p><%= @volunteer.first_name + " " + @volunteer.last_name %> vient de confirmer que la mission suivante a été accomplie: <%= @mission.title %>. Bien joué!<p>

<p>Nous espérons que cette mission s'est passée au mieux, et vous a vraiment soutenus dans vos activités, tout en favorisant de chouettes rencontres. Pour tout feedback, n'hésitez pas à répondre à ce mail :)</p>

<p>Nous vous proposons de manière tout à fait optionnelle de faire un don symbolique à l'asbl Fovento suite à cette mission. Nous utiliserons ce don pour supporter les frais informatiques de la plate-forme ainsi que la communication. Si cela vous dit, vous trouverez nos coordonnées bancaires au bas de ce mail. Mais rien d'obligatoire, bien sûr!</p>

<p>Nous espérons en tous cas vous voir encore pour de nombreuses missions sur la plate-forme.</p>

<p>Amicalement,<p>

<p>La Team Fovento</p>

<p>Coordonnées bancaires: BE77 0634 3628 7342, au nom de Thomas Vanderstraeten, avec en communication "Don Fovento"</p>
