<p>Salut la Team Fovento! Un utilisateur a envoyé un message via le formulaire de contact sur le site, il s'agit d'y répondre au plus vite :) </p>
<br>
<br>
<p>Auteur: <%= @name %></p>
<p>Mail: <%= @mail %></p>
<p>Message: <%= @message %></p>
