.card {
  height: 350px;
  border-radius: 5px;
  padding: 0px;
  background-color: white;
  box-shadow: 2px 4px 2px rgba(0,0,0,0.1);
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: black;
    opacity: 0;
  }
  // .card-link:hover{
  //   opacity: 0.1;
  // }
  .play-icon {
    font-size: 20px;
  }

  .title_box {
    font-size: 16px;
    color: white;
    // color: $primary;
    padding: 1px 10px 1px 10px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .skills_box {
    margin-bottom: 5px;
    padding-left: 10px;
    margin-top: 50px;
  }

  .avatar-card{
    position: absolute;
    top: 230px;
    right: 8px;
    z-index: 1;
  }

  .status{
    position: absolute;
    top: 255px;
    right: 50px;
    z-index: 1;
  }

  .dispo {
    position: absolute;
    top: 9px;
    left: 10px;
    z-index: 1;
  }

  .image_box {
    border-radius: 5px 5px 0 0;
    flex: 1;
    background-size: cover !important;
    .hoverinfo {
      height: 66px;
      margin-top: 60px;
      opacity: 0;
      background-color: rgba(62,146,204,0.7);
      // background-image: linear-gradient(-225deg, $primary-light 30%, rgba(0,0,0,0.2) 80%);
      // height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      transition: 0.4s ease;
      .info {
        color: white;
        font-size: 16px;
        width: 60%;
      }
    }
  }
  .association_box {
    flex: 0 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    .logo_box {
      height: 70px;
      flex: 0 0 20%;
    }
    .name_and_sector_box {
      flex: 0 0 70%;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      .name {
        color: $primary;
      }
      .sector {
        color: $gray-light;
      }
    }
  }
}

.card {
  &:hover {
    box-shadow: 0px 1px 6px 1px $gray-light;
    .image_box {
      .hoverinfo{
        opacity: 1;
        transition: 0.4s ease;
      }
    }
  }
}

// .card:before {
//   background-color: $primary;
//   border-radius: 5px 5px 0 0;
//   content: "";
//   float: none;
//   margin: 0;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 4px;
// }

// .bottom_container:after {
//   background-color: $primary;
//   border-radius: 0 0 5px 5px;
//   content: "";
//   float: none;
//   margin: 0;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 4px;
// }
