.form_box {
  padding: 30px;
  color: $gray;
  text-align: center;
  background-color: $gray-lighter;

  p {
    font-size: 14px;
  }

  .form_options a {
    text-decoration: none;
    color: $gray;
    font-size: 14px;
  }
}
