// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";
@import "volunteers/*";

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: $gray-dark;
  padding-top: 70px;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 0;
}

p{
  font-size: 14px;
}

.padded {
  padding: 20px 20px;
}

.gray {
  color: $gray;
}

// TODO: FIX FOOTER
.wrapper-gray {
  background-color: $gray-lightest;
  min-height: 80vh;
}


