<div class="wrapper-gray">
  <div class="container padded">
    <div class="controls text-center">
      <%= @quote.content %>
    </div>
    <br>

    <div class="row" id="portfolio">
      <% @missions.each do |mission| %>
      <%= render 'mission_card', mission: mission %>
      <% end %>
    </div>
  </div>
</div>

