<div class="wrapper-gray">
  <div class="container padded">
    <div class="controls text-center">
      <label>Filtrer les missions:</label>
      <button class="filter btn btn-default btn-xs" data-filter="all">Toutes</button>
      <button class="filter btn btn-primary btn-xs" data-filter=".open">Disponibles</button>
      <button class="filter btn btn-info btn-xs gray" data-filter=".ongoing">En cours</button>
      <button class="filter btn btn-info btn-xs gray" data-filter=".finished">Accomplies</button>
    </div>
    <br>

    <div class="row" id="portfolio">
      <% @missions.each do |mission| %>
      <%= render 'mission_card', mission: mission %>
      <% end %>
    </div>
  </div>
</div>
