<div class="wrapper-gray">
  <div class="container">

    <div class="page-header">
    <h2>Création d'une nouvelle mission</h2>
    </div>
    <%= render 'form', mission: @mission %>
  </div>
</div>
