<p><strong>Bienvenue sur Fovento.be!</strong></p>
<br>

<p>Au nom de la communauté Fovento, bienvenue sur la plate-forme! Nous espérons que tu y trouveras les missions que tu recherches.</p>

<p>Si tu ne t'es pas connecté(e) via LinkedIn, il est encore nécessaire de cliquer sur le lien ci-dessous pour finaliser ton inscription:</p>

<p><%= link_to 'Confirmer mon inscription', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Si tu t'es connecté(e) à la plate-forme via ton compte LinkedIn, cette confirmation n'est pas nécessaire.</p>

<p>Enjoy!</p>

<p>La Team Fovento</p>
<p>Contacte-nous: contact@fovento.be</p>


